@import  url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

:root {
  /* Primary Colors */
  --clr-blue-100: hsl(195, 74%, 62%);
  --clr-blue-200: hsl(246, 80%, 60%);
  --clr-violet-100: hsl(264, 64%, 52%);
  --clr-red-100: hsl(348, 100%, 68%);
  --clr-green-100: hsl(145, 58%, 55%);
  --clr-orange-100: hsl(43, 84%, 65%);
  --clr-orange-200: hsl(15, 100%, 70%);
  --clr-white-100: #fff;

  /* Neutral Colors */
  --clr-neutral-100: hsl(236, 100%, 87%);
  --clr-neutral-200: hsl(235, 45%, 61%);
  --clr-neutral-300: hsl(235, 46%, 20%);
  --clr-neutral-400: hsl(226, 43%, 10%);

  /* Typography */
  --fs-100: 18px;
  --fs-default: var(--fs-100);

  --ff-primary: "Rubik", sans-serif;

  --fw-100: 300;
  --fw-200: 400;
  --fw-300: 500;

  font-family: var(--ff-primary);
  font-size: var(--fs-default);
  font-weight: var(--fw-200);

  background-color: var(--clr-neutral-400);
  color: var(--clr-white-100);
}

body {
  --padding: 1rem;

  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  padding: var(--padding);
}
